body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img,
abbr {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: 400
}

ul li {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

legend {
    color: #000
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

:-ms-input-placeholder {
    color: #FFF
}

::-webkit-input-placeholder {
    color: #FFF
}

html,
body {
    height: 100%;
    font-size: 100%;
    color: #565656;
    font-family: "Arial" sans-serif;
}



a {
    text-decoration: none;
    outline: 0
}

input {
    outline: 0
}

a img {
    border: 0
}

ul {
    list-style: none
}

strong {
    font-family: Intro-Bold
}

.fl-l {
    float: left
}

.fl-r {
    float: right
}

.container {
    position: relative;
    z-index: 100;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden
}

#wrapper {
    min-height: 100%;
}

.sl-l {
    float: left;
    width: 380px;
    padding-top: 50px;

}

.sl-r {
    float: right;
    margin-bottom: 70px;
}

.slider-sl {
    padding: 90px 10px 0px 10px;
}

.slider-sl .sl-l h1 {
    font-weight: 500;
    font-size: 2.25rem;
}

.feedback {
    cursor: pointer;
    position: relative;
    display: table;
    background-color: buttonface;
    background: #fff;
    color: #14a88f;
    line-height: 30px;
    height: 30px;
    border-radius: 6px;
    padding: 9px 59px 9px 59px;
    margin-top: 40px;
    background: true;
    box-shadow:  0 0 10px #14a88f;
    font-family: "Arial" sans-serif;
    font-size: 1.15rem;
    font-weight: 700;
}

.desc {
    margin-bottom: 40px;
}

.feedback:active {
    box-shadow: inset 0 3px 0 0 #d0f2ec;

}


.feedback:hover {
    border: 1px solid #14a88f;
}

.feedback:focus {
    outline: 0;
}

header {
    overflow: hidden
}

header .logo {
    display: block;
    float: left;
    padding-left: 6px;
    margin-bottom: 40px
}

header .logo img {
    display: block
}

header .bar {
    min-height: 50px;
    margin-bottom: 40px;
    background: #b1d7bc repeat-x 50% 0;
    font-size: .9em;
    font-weight: 700;
    font-family: "Arial" sans-serif;
}
<!
header .bar .faq {
    position: relative;
    padding: 10px 0 5px 30px;
    display: block;
    float: right;
    color: #603662;
    text-shadow: 1px 1px rgba(255, 255, 255, .16);
    text-decoration: underline
}
!>

header .bar .faq span {
    position: absolute;
    top: 6px;
    left: 0;
    height: 24px;
    width: 24px;
}


header .bar .address {
    padding: 10px 0 5px 30px;
    margin: 0 4px 0 30px;
    float: right;
    color: #565656;
}

/*
header .bar .ask div {
    position: absolute;
    top: 6px;
    left: 0;
    height: 24px;
    width: 24px;
    background: url("../img/link-icon.png") no-repeat -48px 0 
}
*/

header .bar .faq:hover,
header .contacts .ask:hover {
    text-decoration: none
}

header .contacts {
    float: right;
    text-align: right;
}

header .contacts .phone,
header .contacts .phone a {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 6px;
    margin-bottom: 10px;
    color: #565656
    text-shadow: 1px 1px rgba(255, 255, 255, .16);
    text-decoration: underline
}

header .ask {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 12px 12px 35px 65px;
    text-shadow: 1px 1px rgba(255, 255, 255, .16);
    text-decoration: underline
}

.ask:before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: 5px;
    width: 36px;
    height: 36px;
    background: url("../img/asv.png") no-repeat;
    opacity: 0.6;
}

.ask:hover:before {
    opacity: 1;
}

header .contacts .btn {
    cursor: pointer;
    position: relative;
    display: table;
    background-color: buttonface;
    font-size: 1.15rem;
    line-height: 30px;
    height: 30px;
    margin: 0 10px;
    padding: 9px 59px 9px 59px;
    background-color: #00b5fa;
    color: #fff;
    border-radius: 6px;
    background: true;
    text-shadow: 1px 1px rgba(0, 0, 1, .32);
    box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.4);
    font-family: "Arial" sans-serif;
    font-weight: 500
}



header .contacts .btn:hover {
    background-color: #00a2e0;
}

header .contacts .btn:focus {
    background-color: #1279d6;
}

header .contacts .btn {
    float: right;
    font-style: normal
}



header .nav {
    min-height: 40px;
    padding: 0 90px;
    background: #14a88f no-repeat 50% 0;
    clear: both
}

header .nav nav ul {
    display: table;
    padding: 4px 0 0 0;
    width: 100%;
    text-align: center
}

header .nav nav li {
    position: relative;
    display: table-cell
}

header .nav nav li a {
    display: block;
    padding: 14px 10px 15px;
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 500;
    text-shadow: 1px 1px rgba(0, 0, 1, .32);
    font-family: "Arial" sans-serif; 
}

aside {
    float: left;
    padding: 6px 0 0 6px;
    width: 224px;
    overflow: hidden
}

aside .title {
    line-height: 40px;
    height: 40px;
    color: #fff;
    background: #14a88f;
    font-family: "Arial" sans-serif;
    font-weight: 500;
    font-size: 1.15rem;
    text-shadow: 1px 1px rgba(0, 0, 1, .32);
    text-align: center;
}

aside .docs {
    position: relative;
}

aside .docs a {
    position: relative;
    display: inline-block;
    float: right;
    text-transform: none;
    font-weight: 400;
    color: #01838f;
    text-decoration: underline;
    padding: 0 20px 0 0
}

aside .doc {
    display: block;
    margin: 20px auto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

aside .doc img {
    display: block;
    margin: 0 auto
}

aside .doc .name {
    display: block;
    text-decoration: underline;
    color: #01838f;
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

aside .doc:hover .name {
    text-decoration: none
}

aside .services {
    position: relative;
}


aside .nav {
    padding: 20px 0
}


aside .nav li a {
    position: relative;
    display: block;
    padding: 5px 0 5px 20px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
    color: #01838f;
}

.main-catalog {
    position: relative;
    z-index: 100;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden
}

.catalog {
    width: 960px;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}

.catalog-list {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 70px;
    border-top: 1px solid #e5e5e5;
    text-align: -webkit-match-parent;
}

.catalog-item-image {
    display: block;
    margin: 0 30px 0 0;
}

.catalog-item-image img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

.catalog-item-rating {
    max-width: 100%;
    height: auto;
    border-style: none;
}

.catalog-item-title {
    margin-bottom: 10px;
}
.catalog-item .catalog-item-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: -10px 0 0;
    text-align: -webkit-match-parent;
}


.catalog-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item-rating {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
}

.stars {
    margin: -10px 0 0;
    text-align: right;
}

.rating {
    padding: 5px 15px;
    color: #666;
    background-color: #f2f2f2;
    margin: 40px 0 0;

}


 .catalog-item-description{
    margin-bottom: 10px;
 }

 .catalog-item-description, 
 .catalog-item-price, 
 .catalog-item-rating {
    display: flex;
 }

.catalog-item-price {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    width: 260px;
    margin: 0;
    color: #333;
    
}
.catalog-item-buttons .button{
    cursor: pointer;
    border-radius: 3px;
    font-size: 1em;
    position: relative;
    font: inherit;
    text-align: center;
    background-color: buttonface;
    vertical-align: middle;
    background-color: #00b5fa;
    padding: 10px 17px;
    border: 0;
    color: #fff;
    background: true;
    text-shadow: 1px 1px rgba(0, 0, 1, .32);
    box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.4);
    font-family: "Arial" sans-serif;
    font-weight: 400;
    font-style: normal;
}

.catalog-item-buttons .button-1 {
        background: #14a88f;
}
.catalog-item-description span {
    width: 116px;
}

.main {
    padding: 10px 0 0 0
}

img.fl-l {
    display: block;
    margin: 10px 15px 10px 0
}

img.fl-r {
    display: block;
    margin: 10px 0 10px 15px
}

p {
    margin: 15px 0
}

strong {
    font-weight: 700;
    font-family: "Arial" sans-serif;
}

em {
    font-style: italic
}

h1,
.h1 {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Arial" sans-serif;
    color: #258786;
    text-align: left
}

h2,
.h2 {
    font-weight: 700;
    font-size: 1.25rem;
    font-family: "Arial" sans-serif;
    text-align: left
}

h3,
.h3 {
    font-weight: 700;
    font-size: 18px;
    font-family: "Arial" sans-serif;
    text-align: left
}

.content {
    margin: 0 0 0 260px;
    padding: 0 6px 0 0;
    text-align: justify;
    font-weight: 300;
    line-height: 22px;
}

.content h1,
.content .h1 {
    margin-bottom: 15px
}

.content h2,
.content .h2 {
    margin-bottom: 12px
}

.content h3,
.content .h3 {
    margin-bottom: 10px
}

.content ul {
    list-style: disc;
    margin: 10px 0 20px 6px
}

.content ul li {
    list-style: disc inside
}

.content .gallery {
    text-align: left
}

.content .gallery a {
    display: block;
    color: #01838f
}

.content .gallery a:hover span {
    text-decoration: none
}

.content .gallery a img {
    display: block;
    margin: 0 auto
}

.content .gallery a span {
    display: block;
    padding: 6px 0 0 0;
    text-align: left;
    text-decoration: underline
}

.content .gallery li {
    display: inline-block;
    width: 120px;
    margin: 10px 20px 20px 0;
    vertical-align: top
}

.content .reviews .review {
    margin: 10px 0 20px
}

.content .reviews .review .name {
    font-size: 1.1em;
    font-weight: 700
}

.content .reviews .review {
    font-size: 1em
}

.content .reviews .review .date {
    font-style: italic;
    text-align: right;
    font-size: .9em;
    color: #787878
}

.content .btn {
    cursor: pointer;
    position: relative;
    display: table;
    font-size: 1em;
    background-color: buttonface;
    line-height: 30px;
    height: 30px;
    margin: 0 10px;
    padding: 9px 59px 9px 59px;
    background-color: #00b5fa;
    color: #fff;
    border-radius: 6px;
    background: true;
    text-shadow: 1px 1px rgba(0, 0, 1, .32);
    box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.4);
    font-family: "Arial" sans-serif;
    font-weight: 500;
    font-style: normal;
}

.content .doctor {
    max-width: 480px;
    text-align: left
}

.content .doctor .row span {
    font-weight: 700
}


ul.pagination {
    text-align: center;
    list-style: none;
    margin: 30px 0 10px
}

ul.pagination li {
    display: inline-block;
    margin: 0 3px
}

ul.pagination a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #565656;
    font-size: 1em;
    line-height: 18px;
    padding: 10px 15px;
}

ul.pagination a:hover {
    text-decoration: none;
    color: #14a88f;
}


.specialists {
    text-align: center;
}

.specialists .specialist {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 172px;
    margin: 0 15px 35px 15px
}

.specialists img {
    display: block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.specialists .n {
    color: #01838f;
    text-decoration: underline;
    padding-top: 10px
}

.specialists .specialist:hover .n {
    text-decoration: none
}

.specialists .s {
    color: #565656;
    text-decoration: none;
    font-size: 12px;
    padding-top: 6px
}

.fl-l {
    float: left
}

.fl-r {
    float: right
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;

    background: #b1d7bc;
}

.footer-contacts {
    float: left;
    max-width: 320px;
    margin-right: 160px;
}

.footer-social {
    float: left;
    max-width: 180px;

    text-align: center;
}

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.footer-copyright .btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    font-size: 14px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #258786;
    border: none;
    cursor: pointer;
}

.social-btn{
    display: inline-block;

    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0;
    text-decoration: none;
    background: #258786 url("../img/sprite-social-icons.png") no-repeat;
    transition: all .3s ease;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-vk {
    background-position: 0 -215px;
}

.social-btn-fb {
    background-position: 0 -43px;
}

.social-btn-inst {
    background-position: 0 -129px;
}

.social-btn-vk:hover {
    background-position: 0 -172px;
}

.social-btn-fb:hover {
    background-position: 0 0px;
}

.social-btn-inst:hover {
    background-position: 0 -86px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;

    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
    color: #000000;

    background-color: #ffffff;
}
footer .copyright {
    float: left;

    
}

footer .copyright div {
    padding-top: 10px;
    font-size: 12px;

}

.ft-phone {
    color: #565656;
}

#social {
    display: none;
    height: 30px;
    background: #fcf
}

.breadcrumbs {
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px
}

.breadcrumbs li {
    position: relative;
    float: left;
    color: #565656;
    text-decoration: underline;
    font-size: 12px;
    padding: 6px 10px
}

.breadcrumbs li a {
    font-size: 12px;
    color: #565656
}

.breadcrumbs li:hover {
    text-decoration: none
}

.breadcrumbs li:before {
    position: absolute;
    top: 10px;
    right: -3px;
    width: 6px;
    height: 7px;
    content: '';
    background: url("../img/sprite.png") no-repeat -175px 0
}

.breadcrumbs li:last-child {
    text-decoration: none
}

.breadcrumbs li:last-child:before {
    background: 0
}

#ui-id-1 {
    display: none;
    font-size: 1em
}

#ui-id-1-button {
    vertical-align: middle;
    margin-left: 10px;
    width: 220px!important
}

.form-submit {
    position: relative;
    width: 300px;
    padding: 10px 6px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    z-index: 999;
    background: url("../img/bg.png");
    box-shadow: 0 0 20px rgba(0, 0, 0, .18)
}

.form-submit .title {
    padding: 6px 10px;
    font-size: 18px;
    font-family: "Arial" sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.form-submit .close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: 700;
    font-size: 28px;
    font-family: "Arial" sans-serif;
    color: #00B6BF
}

.form-submit .row {
    border: 1px solid #a7d6e3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10px 0
}

.form-submit input[type='text'] {
    width: 94%;
    padding: 6px 3%;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.form-submit .btn {
    width: 270px;
    cursor: normal;
    margin-top: 30px!important
}

.form-submit .btn input {
    display: block;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    width: 284px;
    position: relative;
    border: 0;
    background: 0;
    color: #FFF;
    text-transform: uppercase
}

.form-submit .btn {
    cursor: pointer;
    position: relative;
    display: block;
    font-size: 1em;
    line-height: 30px;
    color: #FFF;
    height: 30px;
    background: url("../img/bt.png") repeat-x 0 -40px;
    margin: 0 10px;
    padding: 0 6px;
    font-family: "Arial" sans-serif;
    font-weight: 700
}

.form-submit .btn:before {
    position: absolute;
    content: '';
    top: 0;
    left: -8px;
    height: 30px;
    width: 8px;
    background: url("../img/bt.png") repeat-x 0 -70px
}

.form-submit .btn:after {
    position: absolute;
    content: '';
    top: 0;
    right: -8px;
    height: 30px;
    width: 8px;
    background: url("../img/bt.png") repeat-x 0 -100px
}

.form-submit .btn:hover {
    background-position: 0 -130px
}

.form-submit .btn:hover:before {
    background-position: 0 -160px
}

.form-submit .btn:hover:after {
    background-position: 0 -190px
}

.form-submit textarea {
    resize: vertical;
    border: 0;
    width: 94%;
    padding: 6px 3%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

#close-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 101
}

@media all and (max-width: 960px) {
    #slider {
        display: none
    }
    img.fl-l,
    img.fl-r {
        float: none;
        margin: 0 auto
    }
}

@media all and (max-width: 880px) {
    header .nav {
        padding: 0 6px
    }
    #wrapper {
        background: 0
    }
    header .bar .address {
        float: none;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
    }
    
    .catalog {
        margin: 0;
        padding: 6px;
        width: auto;
        text-align: center;
    }
    .catalog-list{
        text-align: center;
        width: auto;
        margin: 0;
        padding: 0;
        display: block;
    }
    
    .catalog-item {
        text-align: center;
        display: block;
        width: auto;

    }

    .catalog-item-image {
        text-align: center;
        margin: 0 auto;
    }
    .catalog-item-rating {
        text-align: center;

    }

    .stars {
        text-align: center;
        margin-top: 20px;

    }

    .catalog-item .catalog-item-wrapper {
        width: auto;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    .catalog-item-description {
        display: block;
        text-align: center;
        width: auto;
        margin-bottom: 20px;
    }
    .catalog-item-buttons {
        margin: 0 auto;
        display: block;
        margin: 0;
        font-size: 90%;

    }

    .catalog-item-buttons .button-1 {
        padding: 4px 6px 4px 6px;
        background: #14a88f;

    }

    header .contacts .btn {
        padding: 5px 19px 5px 19px;
    }

    .catalog-item-buttons .button-2 {
            padding: 4px 6px 4px 6px;
    }

    .rating {
        margin: 0;
        padding: 0;
        width: auto;
    }

    .catalog-item-price {
        display: block;
        text-align: center;
        width: auto;
    }

    .catalog-item-title h3 {
        margin: 0;
        padding: 0;
        text-align: center;
        width: auto;
    }



    footer .footer-contacts {
        margin: 0 auto;
        border-bottom: 1px solid #3d3d3d;
        padding-bottom: 10px;
        padding-top: 10px;

    }
        .ft-phone {
            display: block;
            padding: 10px 60px;
            font-weight: 700;
            border: 1px solid #3e3e3e;
            color: #565656;
    }
    .footer-copyright {
        float: none;
        text-align: center;
        max-width: none;
        padding-top: 10px;
    }
     {
        float: none;
        text-align: center;
        max-width: none;
    }
    .footer-social {
        display: flex;
        margin: 0;
        padding: 0;
        padding: none;
        background-color: #258786;
    }
    .footer-social p {
        display: none;
    }
    .social-btn {
    display: block;
    width: 104px;
    height: 106px;
    margin: 0 auto;
    transition: none;
    }


    .social-btn:hover {
    background: none;
}

    .social-btn-vk {
        background: url(../img/icon-vk.svg) no-repeat center;

    }
    .social-btn-fb {
        background: url(../img/icon-fb.svg) no-repeat center;
    }
    
    .social-btn-inst {
        background: url(../img/icon-instagram.svg) no-repeat center;
    }

    .main-footer,
    .footer-contacts,
    .footer-social {
        float: none;
        text-align: center;
        max-width: none;
        padding: 0;
    }
    footer .copyright {
        max-width: none;
    }
    .title soc {
        display: none;
    }
    }

@media all and (max-width: 780px) {
    aside {
        float: none;
        width: auto
    }
    aside .box {
        float: left;
        width: 45%;
        margin: 0 2%
    }

    aside .docs {
        cursor: pointer
    }
    aside .soc {
        cursor: pointer;
        margin-top: 25px
    }
        aside .soc {
        display: none;
    }
    .content {
        margin: 0;
        padding: 6px
    }
    .content .doctor {
        margin: 0 auto
    }


@media all and (max-width: 660px) {
    header .logo {
        float: none
    }
    header .logo img {
        margin: 0 auto;
    }
    header .contacts {
        float: none;
        margin: 20px 10px 25px 0
    }
    header .nav {
        background: 0;
        padding: 0
    }
    header .nav nav li {
        display: block;
        background: #14a88f no-repeat 50% -4px;
        border: 1px solid rgba(255,255,255,0.1);
    }
    header .nav nav li:before {
        background: 0
    }
}

@media all and (max-width: 460px) {
    aside .box {
        float: none;
        width: 95%;
        margin: 0 2%
    }

    .content .sel {
        margin: 20px 0 0 0
    }
    .specialists .specialist {
        margin: 25px 35px 0
    }
    .specialists .specialist:nth-child(2n+1) {
        margin: 25px 35px 0
    }
    .content .doctor img {
        display: block;
        width: 100%;
        height: auto
    }
}

@media print {
    #slider {
        display: none
    }
    aside {
        display: none
    }
    .content {
        margin: 0;
        padding: 6px
    }
    header .contacts .btn {
        display: none
    }
    header .bar {
        display: none
    }
    header .nav {
        display: none
    }
    footer {
        border-top: 2px solid #000;
        padding-top: 20px;
        background: 0
    }
    footer .nav {
        display: none
    }
    #wrapper {
        background: 0
    }
    body {
        background: #FFF
    }

    .content .social {
        display: none
    }
}